* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', serif;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background:
    url(580b585b2edbce24c47b294f.png) 750px -250px,
    url(dark-woods-tattoo-dark-woods-background-dark-woods-justice-dry-tree-white-1366x768.jpg);
    background-repeat: no-repeat;
  text-align: center;
}

/* main, #quiz-render {
  background-image: url(580b585b2edbce24c47b294f.png);
} */

header {
  width: 100%;
padding: 10px;
}

header ul li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
  color: white;
}

header ul {
  text-align: right;
  font-size: 30px;
}

main img {
  height: 150px;
  position: static;
}

header img {
  height: 50px;
  position: relative;
  float: left;
  margin-left: 20px;
  display: none;
}


main, #quiz-render {
  color: white;
  margin-top: 100px;

}

/* .splatter {
  background-image: url(blood-spatter-png-6-transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

h1, h2, p {
  color: rgb(218, 70, 70);
  letter-spacing: 5px;
  text-shadow: 1px 1px black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 25px
}

#quiz-render {
  margin-top: 100px;
}

fieldset {
  font-size: 20px;
  width: 100%;
  border: none;
  min-width: 0;
  margin-top: 30px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset span:hover {
  color: white;
  letter-spacing: 10px;
}

fieldset span {
  font-size: 30px;
  color: rgb(218, 70, 70);
  letter-spacing: 5px;
  text-shadow: 1px 1px black;
  width: 100%;
}

.submitButton {
  all: unset;
  margin-top: 10px;
  font-size: 35px;
}

.submitButton:hover{
  color: rgb(219, 226, 85);
  letter-spacing: 10px;
}

.answers {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.answerOption {
  display: block;
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  font-size: 35px;
  text-shadow: 1px 1px black;
}

a:hover {
  color: rgb(218, 70, 70);
  text-shadow: 1px 1px white;
}
