* {
  box-sizing: border-box;
  /* color: white; */
}

body {
  /* background-image: url(dark-woods-tattoo-dark-woods-background-dark-woods-justice-dry-tree-white-1366x768.jpg); */
  text-align: center;
}

header {
  width: 100%;
padding: 10px;
}

header ul li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

header ul {
  text-align: right;
}

main img {
  height: 150px;
  position: static;
}

header img {
  height: 50px;
  position: relative;
  float: left;
  margin-left: 20px;
  display: none;
}


main, #quiz-render {
  margin: 50px auto auto auto;
}

.answers {
  border: none;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.answerOption {
  display: block;
}
